@import "tailwindcss";

@theme {
  --color-primary: #6C63FF;
  --color-accent: #FF6584;
<<<<<<< HEAD
}
=======
}
* {
  font-family: 'Inter', sans-serif;
}
>>>>>>> 22fa1c69a29979b434be97c66c97a272bb26dcb3
